.com-detail-out {
  // overflow: auto;
}
.com-detail {
  
  padding: 20px 15px 24px 20px;
 
}
.full-width {
  width: 100%;
}
.com-form {
  // padding: 0 16px;
  box-sizing: border-box
}
.video-chose-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}
.actions {
  .action {
    cursor: pointer;
  }
}
.nor-pri {
  :deep(.arco-image-img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.del-span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-text-3);
}
.com-detail :deep(.arco-input-append) {
  background: var(--color-fill-2);
}
.warning-color {
  color: var(--red-init);
}
.com-btn-box {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  padding-bottom: 20px;
}
.input-group-box {
  :deep(.arco-form-item) {
    margin-bottom: 8px;
  }
  :deep(.arco-form-item-label-col .arco-form-item-label-col) {
    padding-right: 8px;
  }
}
.del-icon {
  color: rgb(var(--danger-6));
  margin-left: 20px;
  cursor: pointer;
  margin-top: 8px;
}

.label-class {
  margin-bottom: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 16px;
    color: var(--color-text-1);
    font-weight: bold;
  }
}

.video-upload {
  width: 144px;
  height: 80px;
  .arco-image-footer-caption-description {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


:deep(.com-detail ) {
  .media-class {
    align-items: stretch;
      display: flex;
    &>.arco-col {
      align-items: stretch;
      display: flex;
      .arco-card {
        width: 100%;
        .arco-card-body {
          padding-bottom: 8px;
        }
        // align-items: stretch;
        // display: flex;
      }
    }
  }
  
}