.detail-wrap-out {
  overflow: auto;
}
.detail {
  .mao-box {
    position: fixed;
    z-index: 111;
    right: 44px;
    top: 130px;
  }
  
  padding: 20px 15px 0 20px;
  // background-color: var(--color-bg-1);
  .detail-wrap {
    padding-bottom: 10px;
  }
  .head {
    background: var(--color-bg-1);
  }
  .item {
    // margin: 0 8px;
    background: var(--color-bg-1);
    margin-bottom: 16px;
  }
  .de-tit {
    font-size: 16px;
    margin-top: 36px;
  }
  .de-subtit {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: var(--color-text-4);
    line-height: 22px;
  }
  .label-class {
    margin-bottom: 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 16px;
      color: var(--color-text-1);
      font-weight: bold;
    }
  }
}
// .tab-wraps {
//   background: var(--bg-1);
//   position: fixed;
//   top: 104px;
//   width: 100%;
//   z-index: 111;
//   padding: 16px;
//   :deep(.arco-anchor) {
//     width: auto;
//   }
//   :deep(.arco-tabs-nav-type-line .arco-tabs-tab) {
//     padding: 0;
//   }
//   :deep(.arco-anchor-line-less .arco-anchor-link-active > .arco-anchor-link) {
//     background: transparent;
//     color: inherit;
//   }
//   :deep(.arco-anchor-link-item a) {
//     padding: 3px 24px;
//   }
//   :deep(.arco-anchor-link-item .arco-anchor-link:hover) {
//     background: transparent;
//   }
//   :deep(.arco-tabs-nav-type-capsule .arco-tabs-tab) {
//     padding: 0 0px;
//   }
// }
.mar-l-10 {
  margin-left: 10px;
}
.full-width {
  width: 100%;
}
.warning-color {
  color: var(--red-init);
}
.cus-tit {
  font-size: 13px;
  padding: 10px 0;
  text-align: left;
}
.del-icon {
  color: red;
  cursor: rgb(var(--danger-6));
  margin-top: 6px;
  cursor: pointer;
}
$paddingl: 99px;
.agree-box {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: $paddingl;
  font-size: 12px;
  color: var(--color-text-3);
  margin-top: 16px;
  :deep(.arco-checkbox) {
    font-size: 12px;
  }
  :deep(.arco-link) {
    font-size: 12px;
  }
}
.info-box {
  margin-top: 6px;
  text-align: center;
  font-size: 12px;
  color: var(--color-text-3);
  display: flex;
  align-items: center;
  padding-left: $paddingl;
}
.btn-wrap {
  display: flex;
  padding-left: $paddingl;
  margin-top: 15px;
  margin-left: 4px;
}
.cate-wrap {
  .go-cate {
    color: rgb(var(--primary-6));
    cursor: pointer;
  }
  padding-left: 10px;
}
.chose-btn {
  margin-top: 4px;
}
.detail :deep(.arco-card) {
  z-index: 1;
}
.video-chose-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}
.actions {
  .action {
    cursor: pointer;
  }
}
.nor-pri {
  :deep(.arco-image-img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.check-tab {
  padding: 0 112px;
  margin: 0 auto;
  width: 100%;
}
.cos-anchor-link {
  display: inline-block;
  margin-left: 10px;
  line-height: 20px;
}
.check-ul {
  li {
    position: relative;
    color: var(--color-text-3);
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background: #666;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: -11px;
    }
  }
}



.fade-mask-enter-from,
.fade-mask-leave-to {
  opacity: 0;
}

.fade-mask-enter-to,
.fade-mask-leave-from {
  opacity: 1;
}

.fade-mask-enter-active,
.fade-mask-leave-active {
  transition: opacity 0.3s ease;
}
.cou-rate {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin: 0 16px;
  :deep(.arco-rate-character:not(:last-child)) {
    margin-right: 2px;
  }
}

.del-span {
  position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-text-3);
}
.nor-v-list {
  :deep(.arco-image) {
    background: var(--bg-1);
  }
}
.w-tips {
  color: var(--orange-init);
  font-family: PingFang SC;
  font-size: 12px;
  line-height: 20px;
  margin-top: 8px;
}
.drag-upload {
  display: flex;
  :deep(.arco-upload)  {
    flex: 0 0 50%;
    width: 50%;
  }
  :deep(.arco-upload-list) {
    flex: 0 0 50%;
    width: 50%;
    box-sizing: border-box;
    padding-left: 16px;
    margin-top: -24px;
  }
}
.dra-table {
  margin-top: 8px;
  :deep(thead) {
    display: none;
  }
  :deep(:not(.arco-table-border-cell) .arco-table-container) {
    border: none;
  }
  :deep(.arco-table-container) {
    border: none;
  }
  :deep(.arco-table-td) {
    border: none;
  }
  :deep(.arco-table-cell) {
    padding: 4px 4px;
  }
}
.del-class {
  cursor: pointer;
  color: var(--border-color-2);
}
.table-add {
  display: flex;
  align-items: center;
  margin-top: 8px;
  span {
    margin-left: 20px;
    line-height: 32px;
    color: var(--color-text-3);
    font-size: 14px;
  }
}
:deep(.select-table) {
  .arco-table-td .arco-table-cell {
    padding: 0;
    position: relative;
  }
  .padding-cell {
    padding: 9px 16px;
    height: 100%;
  }
  .cell-active {
    background: rgb(var(--primary-6));
    color: #fff;
  }
  .cursor {
    cursor: pointer;
  }
  .active-span {
    color: rgb(var(--primary-6));
  }
}

:deep(.detail-wrap ) {
  .media-class {
    align-items: stretch;
      display: flex;
    &>.arco-col {
      align-items: stretch;
      display: flex;
      .arco-card {
        width: 100%;
        .arco-card-body {
          padding-bottom: 8px;
        }
        // align-items: stretch;
        // display: flex;
      }
    }
  }
  
}

.video-upload {
  width: 144px;
  height: 80px;
  .arco-image-footer-caption-description {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.cus-prop {
  display: flex;
  justify-content: space-between;
}
.cus-btn-wrap {
  margin-top: 16px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}